body { color:black; }
body, p, label { font-size:15px; }
.label { font-size:13px; line-height:16px; }
.alert-info { border-color:transparent; background-color:#3A87AD;
color:white; font-weight:bold; }
div.screenshot { width: 900px; margin:0 auto; background-color:#D0E7EF; }


.title {font-size:180%; padding:30px; }
.nav{height:40px; width:900px;margin:0 auto;}
.nav ul{margin:0 auto;padding:0}
.nav ul li{list-style:none;margin:0 auto}
.nav ul li a{float:left;display:block;padding:10px 20px;text-decoration:none;width:300px;text-align:center;} <!-- width is set to width of nav bar divided by number of items -->
.nav ul li a:hover{color:#9d9d9d;}

.content-container{margin-top:70px}

