@(productForm: Form[ProductPart])(implicit flash: Flash, lang: Lang)
@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import play.api.mvc.Flash
@main(Messages("products.form")) {
	<h2>@Messages("products.fom")</h2>
	@helper.form(action = routes.Products.damaged()) {
		<fieldset>
			<legend>
				@Messages("products.details", Messages("products.damaged"))
			</legend>
			@helper.inputText(productForm("ean"))
			@helper.inputText(productForm("quantity"))
		</fieldset>
		<p><input type="submit" class="btn primary" value='@Messages("products.damaged.submit")'></p>
	}	
}