@(products: List[Product])(implicit flash: Flash, lang: Lang)
@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@main(Messages("application.name")) {
	<h2>Product List</h2>
	<dl class="products" style="width:900px;">
		@for(product <- products) {
			<div class="a-product"  style="padding:40px;float:left;width:300px;background:#D0E7EF">
				<dt><a href="@controllers.routes.Products.show(product.ean)">@product.name</a></dt>
				<dd>Quantity: @product.quantity</dd>
				<dd>Volume: @product.volume</dd>
			</div>
		}	
	</dl>
	<p><a href="@controllers.routes.Products.damagedProduct()" class="btn"><i class="icon-plus"></i></a></p>
}