@(title: String)(content: Html)(implicit flash: Flash, lang: Lang)
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import play.api.mvc.Flash

<!DOCTYPE html>
<html>
<head>
	<title>@title</title>
	<link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("stylesheets/bootstrap.css")'>
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
</head>
<body>
	<div class="screenshot">
		<div class="title" >
			<center>
				@Messages("application.name")
			</center>
		</div>
		<div class="nav">
			<ul class="bar items">
				<li class="active">
					<a href="@routes.Products.list()"><b>@Messages("products.list.navigation")</b></a>
				</li>
				<li class="active">
					<a href="@routes.Products.damagedProduct()"><b>@Messages("products.damaged.command")</b></a>
				</li>
				<li class="active">
					<a href="@routes.Orders.list()"><b>@Messages("orders.list.navigation")</b></a>
				</li>
			</ul>
		</div>
		
		<div class="container"  style="margin:0 auto;width:380px;margin-top:30px">   
			@if(flash.get("success").isDefined){
				<div class="alert alert-success">
					@flash.get("success")
				</div>
			}
			@if(flash.get("error").isDefined){
				<div class="alert alert-error">
					@flash.get("error")
				</div>
			}
		</div>
		
		<div class="content-container">
			<center>
				@content
			</center>
		</div>
		
	</div>
</body>
</html>