@(orders: List[Order])(implicit flash: Flash, lang: Lang)
@import play.api.Play.current
@import play.api.i18n.Messages
@import play.api.i18n.Messages.Implicits._
@main(Messages("application.name")) {
	<h2>@Messages("products.form")</h2>
	<dl class="orders">
		@for(order <- orders) {
			<div class="a product"  style="padding:10px">
				<dt><a href="@controllers.routes.Orders.show(order.id)">Order Id: @order.id</a></dt>
				<dd>@order.address</dd>
				<dd>@order.date</dd>
				<dd>@order.status</dd>
			</div>
		}	
	</dl>
	<div style="padding:70px">
		<p><a href="@controllers.routes.Orders.getOrder()" class="btn">@Messages("orders.get")</a></p>
		<p><a href="@controllers.routes.Dispatching.dispatchOrders()" class="btn">@Messages("orders.dispatch")</a></p>
	</div>
}